<section class="portfolio-section animation-section" id="animation">
    <h2 class="section-title">Animation</h2>
    <div class="animation-grid">
        <div class="animation-card">
            <video loop muted playsinline autoplay>
                <source src="assets/videos/lager can_1.mp4" type="video/mp4">
            </video>
        </div>
        <div class="animation-card">
            <video loop muted playsinline autoplay>
                <source src="assets/videos/lager can.mp4" type="video/mp4">
            </video>
        </div>
        <div class="animation-card">
            <video loop muted playsinline autoplay>
                <source src="assets/videos/Personal Fun Project.MP4" type="video/mp4">
            </video>
        </div>
        <div class="animation-card">
            <video loop muted playsinline autoplay>
                <source src="assets/videos/Fiji Bitter 35 sec ads_2.mp4" type="video/mp4">
            </video>
        </div>
        <div class="animation-card">
            <video loop muted playsinline autoplay>
                <source src="assets/videos/CJP NPD Mock.mp4" type="video/mp4">
            </video>
        </div>
        <div class="animation-card">
            <video loop muted playsinline autoplay>
                <source src="assets/videos/Bounty 10 8sec socials.mp4" type="video/mp4">
            </video>
        </div>
        <div class="animation-card">
            <video loop muted playsinline autoplay>
                <source src="assets/videos/Powder Milk (Rewa) Led ads.mp4" type="video/mp4">
            </video>
        </div>
        <div class="animation-card">
            <video loop muted playsinline autoplay>
                <source src="assets/videos/Skipper Tuna LED ads.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>