<section class="portfolio-section dev-section" id="dev">
    <h2 class="section-title">Website Development</h2>
    <div class="dev-stack">
        <div class="dev-item">
            <div class="dev-video-wrapper">
                <video loop muted playsinline autoplay><source src="assets/videos/Bulaimpact.mp4" type="video/mp4"></video>
            </div>
        </div>
        <div class="dev-item">
            <div class="dev-video-wrapper">
                <video loop muted playsinline autoplay><source src="assets/videos/Burefiji.mp4" type="video/mp4"></video>
            </div>
        </div>
        <div class="dev-item">
            <div class="dev-video-wrapper">
                <video loop muted playsinline autoplay><source src="assets/videos/Icentre.mp4" type="video/mp4"></video>
            </div>
        </div>
        <div class="dev-item">
            <div class="dev-video-wrapper">
                <video loop muted playsinline autoplay><source src="assets/videos/Projector portraits.mp4" type="video/mp4"></video>
            </div>
        </div>
    </div>
</section>